@import './_common.scss';

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.mySlides {
  display: none;
}
// bottom radial shadow css
.border-bottom-radial {
  position: relative;
  padding-bottom: 39px;
  &:after {
    content: '';
    bottom: -1rem;
    background: radial-gradient(farthest-corner at 50% 0px, #d4d2d2 0%, transparent 50%);
    width: 100%;
    height: 1rem;
    position: absolute;
    bottom: 0;
  }
}

main.home {
  .offer-banner {
    @extend .border-bottom-radial;

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      background-color: #e0e1db;
      transform: translate(0, -50%);
      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    &__img {
      display: flex;
      flex: 1;
      width: 100%;
      min-height: 18vh;
    }
  }
  .dot-container {
    position: absolute;
    display: flex;
    flex: 1;
    right: 0;
    left: 0;
    bottom: 24px;
    justify-content: center;

    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      &.active,
      &:hover {
        background-color: #717171;
      }
    }
  }

  .category {
    @extend .border-bottom-radial;
    display: flex;
    flex-direction: row-reverse;

    &:nth-child(odd) {
      flex-direction: row;
    }
    .category-logo {
      height: 200px;
      max-width: 50%;
    }
    .category-detail {
      @extend .flex-center;
      text-align: center;
      &__main {
        font-size: 1.8rem;
        margin-bottom: 10px;
      }
      &__sub {
        font-size: 0.9rem;
        margin-bottom: 10px;
      }
    }
  }
}
