@import './_common.scss';

// side category name list.
.category-list {
  width: 25%;
  padding: 3px 12px 3px 12px;
  background-color: #eaeaea;
  margin-top: -10px;
  display: none;

  @include break-point(tablet) {
    display: block;
  }

  &__name {
    font-size: 1rem;
    padding: 12px 0 12px 10px;
    color: #959595;
    border-bottom: 1px solid #cecccc;
  }
}

// product list
.product-list {
  @extend .flex-column;
  width: 75%;
  padding: 0;
  @include break-point(tablet) {
    padding: 5px;
  }

  .product-list-row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

// product card
.product-card {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border-bottom: 1px dashed #d0d0d0;
  box-shadow: 10px 0 5px -13px #888;
  @include break-point(tablet) {
    width: 50%;
  }
  @include break-point(desktop) {
    width: 25%;
  }

  &__name {
    font-size: 1rem;
    height: 4rem;
  }
  &__detail {
    @extend .flex-row;
    &-img {
      width: 50%;
      height: 9rem;
      @include break-point(tablet) {
        height: 5.5rem;
      }
    }
    &-text {
      @extend .flex-column;
    }
    &-description {
      background-color: #f0f0f0;
      font-size: 0.8rem;
      padding: 5px;
      height: 5.5rem;
      overflow: hidden;
    }
    &-btn {
      @extend .btn;
      @extend .flex-row;
      @extend .flex-center;
      @include break-point(tablet) {
        display: none;
      }
    }

    @include break-point(desktop) {
      @include flex-column;
      &-img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__buy {
    @extend .flex-row;
    display: none;
    height: 40px;
    margin-top: 20px;
    @include break-point(tablet) {
      display: flex;
    }

    &-price {
      @extend .flex-row;
      align-items: center;
      display: none;
      @include break-point(desktop) {
        display: flex;
      }
    }
    &-btn {
      @extend .flex-row;
      @extend .btn;
      @extend .flex-center;
    }
    &-sm-txt {
      color: $text-color-secondary;
      pointer-events: none;
      @include break-point(desktop) {
        display: none;
      }
    }
  }
}

// mobile category select dropdown
.mob-category-list-container {
  position: relative;

  &:after {
    position: absolute;
    content: '﹀';
    color: $text-color-secondary;
    width: 10px;
    height: 10px;
    top: 9px;
    right: 20px;
    pointer-events: none;
  }
  .mob-category-list {
    width: 100%;
    position: relative;
    background: #d10157;
    color: $text-color-secondary;
    border: 0;
    padding: 10px;
    -webkit-appearance: none;
    appearance: none;
    @include break-point(tablet) {
      display: none;
    }
    option {
      color: #fff;
    }
  }
}
