@import './_common.scss';

main.register {
  @extend .flex-column;
  padding-left: 9vw;
  padding-right: 9vw;
  @include break-point(desktop) {
    flex-direction: row;
  }
}

.heading {
  @extend .flex-column;
  margin-top: 6%;
}

.form {
  @extend .flex-column;
  padding: 10px 0;

  &__inputs {
    overflow: hidden;
    position: relative;
    height: 72px;
  }

  &__label {
    position: absolute;
    top: 14px;
    color: #b4a89c;
    font-size: 16px;
    cursor: text;
    transition: 0.25s ease;
  }

  &__input {
    $width: 240px;
    display: block;
    width: 100%;
    padding-top: $width/15;
    border: none;
    border-radius: 0;
    color: black;
    background: $background-color-primary;
    font-size: $width/15;
    font-family: 'Dosis';
    border-bottom: 1.5px solid rgba(#b4a89c, 0.5);

    &:valid {
      ~ label {
        top: 0;
        font-size: 240/25 * 1px;
        color: rgba(black, 0.5);
      }
    }
    &:focus {
      outline: none;
      border-bottom: 1.5px solid $input-theme-color-primary;
      ~ label {
        top: 0;
        font: 700 $width/25;
        color: $input-theme-color-primary;
      }
    }
  }

  &__submit {
    @extend .btn;
  }
}
