// black
$black: rgba(0, 0, 0, 1);
$trans_black: rgba(0, 0, 0, 0.42);
$light_black: rgba(34, 34, 34, 1);

// white
$white: rgba(255, 255, 255, 1);
$mix_white: rgba(242, 242, 242, 1);

//grey
$grey: rgba(113, 113, 113, 1);
$light_grey: rgba(187, 187, 187, 1);
$whitish_grey: rgba(230, 230, 230, 1);
$trans_grey: rgba(130, 130, 117, 0.4);
$l_light_grey: rgba(238, 238, 238, 1);
$d_trans_grey: rgba(112, 103, 106, 1);

//pink
$theme_color: rgba(191, 41, 87, 1);

//blue
$f_blue: rgba(80, 218, 226, 1);
