$body-font: 10px; //1rem

$mobile-main-heading: 1.6rem;
$mobile-secondary-heading: 1.2rem;
$mobile-ternary-heading: 1.0rem;
$mobile-body-content: 1.4rem;
$mobile-paragraph: 1.2rem;
$mobile-anchor: 1.2rem;
$mobile-span: 1rem;
$mobile-button: 1.4rem;

$desktop-main-heading: 3rem;
$desktop-secondary-heading: 2.0rem;
$desktop-ternary-heading: 1.8rem;
$desktop-body-content: 2.4rem;
$desktop-paragraph: 1.8rem;
$desktop-anchor: 1.6rem;
$desktop-span: 1.6rem;
$desktop-button: 1.6rem;