@import "variable";
@import "color";
@import "mixin";

.cart {
  @include row;
  ul,
  li {
    display: block;
  }
  li {
    margin-bottom: 15px;
  }
  &__box {
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0px auto;
    background-color: $border_color_primary;
    padding: 30px 0px 0;
    h1 {
      font-size: 26px;
      background-color: $primary_color;
      color: $secondary_color;
      padding: 26px 30px;

      span {
        font-size: 20px;
        font-weight: 300;
        margin-left: 5px;
      }
    }
    .full_width {
      width: 100%;
    }
  }
  &__badge {
    background-color: $secondary_color;
    width: calc(100% - 20px);
    margin: 15px auto;
    padding: 15px;
    border-radius: 4px;
    display: table;
    & > div {
      display: table-cell;
      vertical-align: middle;

      &:first-child {
        width: 120px;
      }

      &:last-child {
        width: calc(100% - 120px);
      }
    }

    p {
      padding-left: 20px;
    }
  }
}

.cart-items {
  background-color: $secondary_color;
  padding: 10px 15px;
  display: block;
  width: 100%;

  & > div {
    display: block;
    vertical-align: middle;
  }
  &__img {
    width: 100%;
    max-width: 100%;
  }
  &__detail {
    padding-left: 10px;
    font-weight: 600;
    h2 {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 15px;
    }

    button {
      border-radius: 4px;
      font-weight: bold;
      font-size: 22px;
      padding: 4px 5px 4px;
      display: inline-block;
      width: 30px;
      height: 30px;
      cursor: pointer;
      line-height: 1;
    }

    input {
      border: none;
      text-align: center;
      width: 45px;
    }

    span {
      font-size: 20px;
    }
  }
  &__price {
    position: relative;
    margin-left: 10px;
    padding-left: 20px;

    &:after,
    &:before {
      content: "";
      position: absolute;
      background-color: $primary_color;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:before {
      height: 2px;
      width: 10px;
      transform: rotate(45deg);
    }

    &:after {
      width: 2px;
      height: 10px;
      transform: rotate(45deg);
      left: 4px;
      top: 6px;
    }
  }
  &__totalPrice {
    float: right;
  }
  &__price {
    &:after {
      top: 9px;
    }
  }
}

@media only screen and (min-width: 480px) {
  .cart-items {
    padding: 10px 36px;
    display: table;

    & > div {
      display: table-cell;
    }
    &__img {
      width: 95px;
      max-width: 95px;
    }
    &__detail {
      width: calc(100% - 95px);
    }
  }
}
.cart {
  &__checkout {
    background-color: $secondary_color;
    padding: 15px 10px;
    margin-top: 300px;

    p {
      text-align: center;
      margin-bottom: 15px;
      font-size: 20px;
    }

    .btn--default {
      text-align: left;
      border-radius: 4px;
      font-weight: 600;
      font-size: 22px;

      span {
        float: right;
        position: relative;

        &:after {
          content: "";
          width: 8px;
          height: 8px;
          border-right: 2px solid $secondary_color;
          border-top: 2px solid $secondary_color;
          display: inline-block;
          transform: rotate(45deg);
          margin-left: 9px;
        }
      }
    }
  }
}
